[submodule "frkr-ingest-gateway"]
	path = frkr-ingest-gateway
	url = https://github.com/frkr-io/frkr-ingest-gateway.git
[submodule "frkr-streaming-gateway"]
	path = frkr-streaming-gateway
	url = https://github.com/frkr-io/frkr-streaming-gateway.git
[submodule "frkr-infra-helm"]
	path = frkr-infra-helm
	url = https://github.com/frkr-io/frkr-infra-helm.git
[submodule "frkr-infra-docker"]
	path = frkr-infra-docker
	url = https://github.com/frkr-io/frkr-infra-docker.git
[submodule "frkr-operator"]
	path = frkr-operator
	url = https://github.com/frkr-io/frkr-operator.git
[submodule "frkr-infra-terraform"]
	path = frkr-infra-terraform
	url = https://github.com/frkr-io/frkr-infra-terraform.git
