# Binaries
/frkrcfg
/migrate
/frkrup
cmd/frkrup/frkrup
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace file
go.work

# Dependencies
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
/bin/
/dist/

# Deployment YAML
frkrup.yaml
